{{ define "blog/blogdetail.tmpl" }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <title>Document</title>
</head>
<body>
   <div style=" width:350px;">
       <div style="float: left;width: 200px">
        <span >张三的博客</span>
       </div>
       <div style="float:right;width: 100px">
       <span>
        <a href="/views/blog/list" style="color:green">返回</a>
       </span>
       </div>
   </div>

   <div style="clear: both;padding-top:30px">
       <span style="font-size:15px">id：</span>
       <input  type="text" name="txt_title" id="txt_id"  value="{{.Data.Id}}" placeholder="请输入标题" size="20" style="font-size:20px">
   </div>
   <div>
       <span style="font-size:15px">标题：</span>
       <input  type="text" name="txt_title" id="txt_title" value="{{.Data.Title}}" placeholder="请输入标题" size="35" style="font-size:20px">
   </div>
   <div style="margin-top:10px">
       <span style="font-size:15px">内容：</span>
       <textarea id="txt_content" cols="45" rows="5"  placeholder="请输入内容">{{.Data.Content}}</textarea>
   </div>
   <div style="margin-top:10px">
       <span style="font-size:15px">时间：</span>
       <input type="text" value='{{.Data.CreateTime}}'/>
   </div>
</body>

</html>
{{end}}